body {
    background-color: rgb(2, 1, 2);
    color: rgb(254, 253, 255);
    font-family: 'Poppins', sans-serif;
}

header nav {
    background-color: rgb(27, 27, 27);
    border-bottom: 1.5px rgb(100, 100, 100) solid;
}

header nav #logo {
    margin-left: 20px;
}

header nav .nav-item {
    padding-right: 50px;
}

header nav .navbar-collapse {
    margin-right: 50px;
}

header nav .dropdown-menu {
    background-color: rgb(18, 14, 27);
}

header nav .dropdown-menu .dropdown-item:hover {
    background-color: rgba(18, 14, 27, 0.2);
}

.nav-item a {
    color: rgb(254, 253, 255);
    scroll-behavior: smooth;
}

.nav-item a:hover {
    color: red;
}

main {
    padding: 0px 15px 0px 15px;
}

footer {
    padding-top: 20px;
    text-align: center;
}

footer #nav-3 {
    color: white;
    border-top: 1.5px rgb(100, 100, 100) solid;
    margin-top: 10px;
    background-color: rgb(27, 27, 27);
}