body {
    background-color: rgb(2, 1, 2);
    color: rgb(254, 253, 255);
    font-family: 'Poppins', sans-serif;
}

header nav {
    background-color: rgb(18, 14, 27);
    border-bottom: 1.5px rgb(100, 100, 100) solid;
}

header nav #logo {
    margin-left: 20px;
}

.nav-item a {
    color: rgb(254, 253, 255);
    scroll-behavior: smooth;
}

.nav-item a:hover {
    color: red;
}

main {
    padding: 0px 15px 0px 15px;
}

footer #nav-3 {
    color: black;
    border-top: 1.5px rgb(100, 100, 100) solid;
    margin-top: 10px;
    padding-left: 30px;
    background-color: rgb(182, 182, 182);
}