#home {
    margin-top: 25px;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: right;
}

.row .row .col-7 p {
    font-size: 4.5vw;
    padding-top: 30%;
}

#navbarToggleExternalContent {
    background-color: rgb(18, 14, 27);
}

.bi-list {
    color: white;
    font-size: 35px;
}

#home #name {
    color: rgb(241, 31, 78);
}

#zwo {
    margin-top: 120px;
}

.row h2 {
    margin-bottom: 20px;
    color: rgb(14, 131, 224);
}

#aboutme {
    border: 1.5px black solid;
    border-radius: 25px;
    background-color: rgb(27, 27, 27);
}

#aboutme .nav-link {
    cursor: pointer;
}

#aboutme .active {
    color: rgb(253, 156, 177);
}

#aboutme h2 {
    color: rgb(241, 31, 78);
    font-size: 50px;
}

#aboutme h3 {
    color: rgb(241, 31, 78);
    font-size: 20px;
}

#aboutme .row {
    padding: 15px;
}

#aboutme .container {
    background-color: rgb(35, 35, 35);
}

#aboutme .container li {
    list-style-image: url(../img/square.png);
}

#project {
    display: flex;
    justify-content: center;
}

#pj-grid {
    background-color: rgb(27, 27, 27);
    border: 1px black solid;
    border-radius: 25px;
}

#project {
    display: flex;
    justify-content: center;
}

#project .card {
    border: 1px black solid;
    border-radius: 7px;
    margin: 10px 0px 10px 0px;
}

#project .card .card-body {
    background-color: rgb(207, 207, 207);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#project .card img {
    border-bottom: 0.2px black solid;
}

#project h2 {
    text-align: center;
}

section {
    flex-wrap: nowrap;
    color: white;
    margin-left: 0%;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

section h1 {
    font-size: 60px;
    text-decoration: underline;
    color: skyblue;
}

.containerfooter {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: rgb(40, 40, 40);
    border-radius: 8px;
    margin-bottom: 20px;
}

.form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}

.form-group input,
.form-group textarea {
    color: white;
    background-color: rgb(70, 70, 70);
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
}

textarea {
    resize: vertical;
    color: white;
}

#Team {
    margin-left: 35%;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px 0px;
    width: 50%;
    height: 50%;
}

select {
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgb(70, 70, 70);
    font-size: 30px;
}

button {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    font-family: "Montserrat";
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease background-color;
}

button:hover {
    background-color: rgb(214, 226, 236);
}