#home {
    margin-top: 25px;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: right;
}

.row .row .col-7 p {
    font-size: 4.5vw;
    padding-top: 30%;
}

#navbarToggleExternalContent {
    background-color: rgb(18, 14, 27);
}

#HeaderDropdownBurger {
    background-color: rgb(31, 24, 46);
}

.HeaderDropdownButton:hover #HeaderDropdown {
    display: block;
}

.HeaderDropdownButton:hover #HeaderDropdownBurger {
    display: block;
}

.bi-list {
    color: white;
    font-size: 35px;
}

#home #name {
    color: rgb(241, 31, 78);
    /*#0EB1B1*/
    /*#0E34D8*/
    /*#1FD1F1*/
}

#zwo {
    margin-top: 120px;
}

.space {
    margin-top: 60px;
}

.row h2 {
    margin-bottom: 20px;
    color: rgb(14, 131, 224);
}

#aboutme {
    border-radius: 25px;
    background-color: rgb(27, 27, 27);
    border: 1.2px rgb(82, 82, 82) solid;
}

#aboutme .nav-link {
    cursor: pointer;
}

#aboutme .active {
    color: rgb(253, 156, 177);
}

#aboutme h2 {
    color: rgb(241, 31, 78);
    font-size: 50px;
}

#aboutme h3 {
    color: rgb(241, 31, 78);
    font-size: 20px;
    padding-top: 8px;
}

#aboutme .row {
    padding: 15px;
}

#aboutme .container {
    background-color: rgb(35, 35, 35);
    border: 1.2px rgb(82, 82, 82) solid;
}

#aboutme .container li {
    list-style-type: disc;
}

#aboutme .container li::marker {
    color: rgb(241, 31, 78);
}

#project {
    background-color: rgb(27, 27, 27);
    border: 1px black solid;
    border-radius: 25px;
}

#project h2 {
    color: rgb(241, 31, 78);
    font-size: 50px;
}

#project .row {
    margin: 0px 5px 10px 5px;
}

#project h2 {
    text-align: center;
}

.hexagonShapes {
    stroke: rgb(241, 31, 78);
    stroke-width: 2;
}

.hexagonText {
    fill: whitesmoke;
    text-decoration: underline;
    font-weight: bold;
}

.modShapes a:hover .hexagonText {
    display: block;
}

a:hover .hexagonShapes {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
    stroke-width: 6;
}

#hexagon_one {
    fill: url(#img-1);
}

#hexagon_one:hover {
    transform: scale(1.5);
    transition: transform 3s;
}

#hexagon_one:hover~#hexagon_two {
    transform: scale(0.5);
    transition: transform 3s;
}

#hexagon_one:hover+#hexagon_one_text {
    display: block;
}

#hexagon_one:hover+#hexagon_two {
    stroke-width: 2;
}

#hexagon_two {
    fill: url(#img-2);
}

#hexagon_two:hover+#hexagon_two_text {
    display: block;
}

#hexagon_three {
    fill: url(#img-3);
}

#hexagon_three:hover+#hexagon_three_text {
    display: block;
}

#hexagon_four {
    fill: url(#img-4);
}

#hexagon_four:hover+#hexagon_four_text {
    display: block;
}

#hexagon_five {
    fill: url(#img-5);
}

#hexagon_five:hover+#hexagon_five_text {
    display: block;
}

#contact {
    border: 1.2px rgb(82, 82, 82) solid;
    border-radius: 25px;
    background-color: rgb(27, 27, 27);
}

#contact .row {
    padding: 15px;
}

#contact h2 {
    color: rgb(241, 31, 78);
    font-size: 50px;
}