:root {
    --blockquote-footer-color: rgb(192, 192, 192);
    --project-bg-color: rgb(27, 27, 27);
    --table-border-color: white;
}

.lightmode {
    --blockquote-footer-color: rgb(63, 63, 63);
    --project-bg-color: rgb(228, 228, 228);
    --table-border-color: black;
}

main {
    margin-top: 15px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.blockquote-footer {
    color: var(--blockquote-footer-color);
    font-size: 18px;
}

.project {
    border-radius: 25px;
    border: solid 1.5px rgb(241, 31, 78);
    background-color: var(--project-bg-color);
    height: auto;
    padding: 20px;
    margin-bottom: 40px;
}

.project .row {
    padding-top: 15px;
}

.project img,
.project video {
    padding-top: 50px;
}

.project video::-webkit-media-controls-mute-button {
    display: none;
}