:root {
    --blockquote-footer-color: rgb(192, 192, 192);
    --conatiner-bg-color: rgb(27, 27, 27);
}

.lightmode {
    --blockquote-footer-color: rgb(63, 63, 63);
    --conatiner-bg-color: rgb(228, 228, 228);
}

main {
    margin-top: 15px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.blockquote-footer {
    color: var(--blockquote-footer-color);
    font-size: 18px;
}

.space {
    padding-top: 30px;
}

.container img {
    max-height: 400px;
    border-radius: 15px;
    border: solid black 2px;
    margin-top: 2%;
}

.container {
    border-radius: 25px;
    border: solid rgb(241, 31, 78) 2px;
    background-color: var(--conatiner-bg-color);
    height: auto;
    padding: 8px;
    margin-bottom: 40px;
}

.container li {
    list-style-type: circle;
}

.redText {
    color: red;
}

.limeText {
    color: lime;
}

.yellowText {
    color: yellow;
}