:root {
    --blockquote-footer-color: rgb(192, 192, 192);
    --project-bg-color: rgb(27, 27, 27);
}

.lightmode {
    --blockquote-footer-color: rgb(63, 63, 63);
    --project-bg-color: rgb(228, 228, 228);
}

main {
    margin-top: 15px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.blockquote-footer {
    color: var(--blockquote-footer-color);
    font-size: 18px;
}

.oneProject {
    border-radius: 25px;
    border: solid 1.5px rgb(241, 31, 78);
    background-color: var(--project-bg-color);
    height: auto;
    padding: 20px;
    margin-bottom: 40px;
}

.Headlines {
    font-weight: lighter;
    font-size: 40px;
}

.HeadlinesSecond {
    font-weight: lighter;
    font-size: 30px;
}

.numbers {
    color: rgb(241, 31, 78);
}

.btn {
    font-size: 13px;
    padding: 10px 24px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(241, 31, 78);
    border: 2px solid rgb(241, 31, 78);
    margin-right: 30px;
}

.btn:hover {
    font-size: 13px;
    padding: 10px 24px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 91, 126);
    border: 2px solid rgb(255, 91, 126);
    margin-right: 30px;
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
}

.oneProject img {
    border-radius: 15px;
    border: solid black 1px;
    margin-top: 10%;
    max-height: 400px;
}

.oneProject:hover {
    cursor: pointer;
}

.oneProject:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    box-shadow: 3px 3px 33px 5px rgb(241, 31, 78);
}

.modal .popup {
    position: relative;
    border-radius: 25px;
    border: solid 1.5px rgb(241, 31, 78);
    background-color: var(--project-bg-color);
    height: auto;
    padding: 20px;
    margin-bottom: 40px;
}

.modal .xPopupbtn {
    position: absolute;
    top: 25px;
    right: 10px;
    background-color: rgb(241, 31, 78);
    color: white;
    width: auto;
}

.modal .popup img {
    border-radius: 15px;
    border: solid black 1px;
    margin-top: 10%;
    max-height: 400px;
}

.modal img:hover {
    cursor: default;
}

.modal .popupbtn {
    background-color: rgb(241, 31, 78);
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
}

.modal .popupbtn:hover {
    transform: scale(1);
    cursor: pointer;
    background-color: rgb(255, 91, 126);
}

.modal-content {
    background-color: transparent;
}

.modal li {
    list-style-type: circle;
}

.redText {
    color: red;
}

.limeText {
    color: lime;
}

.yellowText {
    color: yellow;
}